[submodule "SmokeyBedrockParser-GUI/third-party/glfw"]
	path = SmokeyBedrockParser-GUI/third-party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "SmokeyBedrockParser-GUI/third-party/glm"]
	path = SmokeyBedrockParser-GUI/third-party/glm
	url = https://github.com/g-truc/glm
[submodule "SmokeyBedrockParser-Core"]
	path = SmokeyBedrockParser-Core
	url = https://github.com/SmokeyStack/SmokeyBedrockParser-Core
