[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm
[submodule "SmokeyBedrockParser-Core/third-party/leveldb"]
	path = SmokeyBedrockParser-Core/third-party/leveldb
	url = https://github.com/google/leveldb
[submodule "SmokeyBedrockParser-Core/third-party/libnbtplusplus"]
	path = SmokeyBedrockParser-Core/third-party/libnbtplusplus
	url = https://github.com/ljfa-ag/libnbtplusplus
[submodule "SmokeyBedrockParser-Core/third-party/spdlog"]
	path = SmokeyBedrockParser-Core/third-party/spdlog
	url = https://github.com/gabime/spdlog
